.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/*tablero rango manos*/
label[card]{
  padding-left: 0px;
  padding-right: 0px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 860px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#slider12c .slider-selection {
  background: yellow;
}

#dropdownTypePlayer{
  /*margin-top: 20%;*/
  margin: auto;
}

#board{
  padding-left: 0;
  padding-right: 0;
}

.btn-spade {
  color: #fff;
  background-color: #585858;
  border-color: #424242;
}
.btn-spade:hover,
.btn-spade.focus,
.btn-spade.active {
  color: #fff;
  background-color: #A4A4A4;
  border-color: #BDBDBD;
}

.result{
  width: 100%;
  text-align: left;
  padding-left: 15px;
}

.resultPorcentage{
  text-align: right;
  position: absolute;
  right: 25px;
}

#inputUnion{
  display: block !important;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

ngjs-color-picker{
  position: relative;
  left: 10px;
  top: 10px;
}

#selectsInfo{
  font-size: small;
}

#clearBoard{
  position: relative;
  left: 25%;
  top: 8px;
  width: 50%;
}

#buttonType{
  position: relative;
  top: 8px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
