<div class="container">
	<p class="Three-Dee"><br>Postflop Statistics</p>
</div>

<div class="container">
	<h3><br>Postflop Statistics | Poker Tool</h3>
	<p style="text-align:justify;">Postflop Statistics is a statistical program that helps us calculate frequencies impact on the postflop in poker texas holdem. It is a simple tool to have a much more solid idea of how they impact ranges according to a given table and can help us improve our postflop game and reading ranges as well as understanding the impact frequency of rivals.</p>
	<p style="text-align:justify;">
	The system allows you to select an initial range of poker hands, in order to calculate the possible results postflop based on simulations, you can include board and customize the results in different streets: flop, turn and river.</p>
</div>

<div class="container" style="height:120px; padding:5%">
	<a style="position:relative; width: 200px; left:50%; margin-left:-100px;" type="button" class="btn btn-primary" href="#/postflop-statistics">Go PostflopStatistics</a>
</div>