


<div class="container-fluid" >
	<div class="row">
		<!-- tablero -->
		<div class="col-md-6">

			<p>TABLERO: basado: {{vm.basado}} porcent	age: {{vm.porcentage}} %</p>
			<!-- buttons tablero -->
			<div ng-repeat="column in vm.matrix">
				<div class="btn-group-justified">
					<sc-button ng-repeat="row in column" card="{{vm.matrix[$parent.$index][$index]}}"></sc-button>
				</div>
			</div>

			<div class="row">
				<!-- select type basado -->
				<div class="col-md-3">
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle"
							type="button" id="dropdownTypePlayer" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							{{vm.tipoPlayer}}
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<a ng-repeat="tipo in vm.typesPlayer" class="dropdown-item" ng-click="vm.cambiaTipoPlayer(tipo)">  {{tipo}} </a>
						</div>
					</div>
				</div>

				<!-- slider bar tool -->
				<div class="col-md-9">
				    <rzslider rz-slider-model="vm.slider.min" rz-slider-high="vm.slider.max" rz-slider-options="vm.slider.options"></rzslider>
				</div>
			</div>

		</div>

			<!-- BOARD -->
		<div class="col-md-2" id="board">
			<p>
				board
				<label type="button" class="btn btn-warning" ng-click="vm.clearBoard()" ng-show="vm.boardActive.length">Clear</label>
			</p>
			<div ng-repeat="column in vm.board">
				<div class="btn-group-justified">
					<sc-button-board ng-repeat="row in column" card="{{vm.board[$parent.$index][$index]}}"></sc-button-board>
				</div>
			</div>
		</div>

			<!-- RESULTS -->
		<div class="col-md-3">
			<sc-resultados ng-repeat="result in vm.results.c | orderBy:'fuerza'"></sc-resultados>
		</div>

			<!-- RESULTS CONTROLES-->
		<div class="col-md-1">
			<div class="btn-group-vertical">
				<label type="button" class="btn btn-info" ng-click="vm.calcula()" ng-show="!vm.autoCalculate">Calcular</label>
				<label type="button" class="btn btn-danger" ng-click="vm.activaSeleccionar()" ng-show="vm.results.c">Seleccionar</label>
				<label type="button" class="btn btn-warning" ng-click="vm.removeSelects()" ng-show="vm.seleccionadosResults.length > 0">Remove</label>
				<label type="button" class="btn btn-default" data-toggle="modal" data-target="#modalUnion" ng-show="vm.seleccionadosResults.length > 1">Union</label>
				<label type="button" class="btn btn-spade" ng-click="">Deshacer</label>
			</div>
			<p>sumaSeleccionados: {{vm.porcSeleccionados}}</p>
			<p>mensaje post: {{vm.messagePost}}</p>
			<p>nameUnion: {{vm.nameUnion}}</p>
			<p>vm results: {{vm.resuts.c}}</p>
		</div>

<!-- MODAL UNION -->
<div class="modal fade bs-example-modal-sm" id="modalUnion" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog  modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nueva unión</h4>
      </div>
      <div class="modal-body">
      	<div>
					<input id="inputUnion" onClick="this.setSelectionRange(0, this.value.length)" value="{{vm.nameUnion}}" ng-model="vm.nameUnion"/>
      	</div>
      	<div>
      		<ngjs-color-picker selected-color="vm.selectedColor" options="vm.colorOptions" custom-colors="vm.unionColors"></ngjs-color-picker>
      	</div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.union()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

	</div>
</div>