


<div class="container-fluid" >
	<div class="row">
		<!-- tablero -->
		<div class="col-md-6">

			<p>TABLERO: basado: {{vm.basado}} porcent	age: {{vm.porcentage}} %</p>
			<!-- buttons tablero -->
			<div ng-repeat="column in vm.matrix">
				<div class="btn-group-justified">
					<sc-button ng-repeat="row in column" card="{{vm.matrix[$parent.$index][$index]}}"></sc-button>
				</div>
			</div>

			<div class="row">
				<!-- select type basado -->
				<div class="col-md-3">
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle"
							type="button" id="dropdownTypePlayer" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							{{vm.tipoPlayer}}
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<a ng-repeat="tipo in vm.typesPlayer" class="dropdown-item" ng-click="vm.cambiaTipoPlayer(tipo)">  {{tipo}} </a>
						</div>
					</div>
				</div>

				<!-- slider bar tool -->
				<div class="col-md-9">
				    <rzslider rz-slider-model="vm.slider.min" rz-slider-high="vm.slider.max" rz-slider-options="vm.slider.options"></rzslider>
				</div>
			</div>

		</div>

			<!-- BOARD -->
		<div class="col-md-2" id="board">
			<p>
				board
				<label type="button" class="btn btn-warning" ng-click="vm.clearBoard()" ng-disabled="!vm.boardActive.length">Clear</label>
			</p>
			<div ng-repeat="column in vm.board">
				<div class="btn-group-justified">
					<sc-button-board ng-repeat="row in column" card="{{vm.board[$parent.$index][$index]}}"></sc-button-board>
				</div>
			</div>
		</div>

			<!-- RESULTS -->
		<div class="col-md-3">
			<sc-resultados ng-repeat="result in vm.results.c | orderBy:'fuerza'"></sc-resultados>
		</div>

			<!-- RESULTS CONTROLES-->
		<div class="col-md-1">
			<div class="btn-group-vertical">
				<label type="button" class="btn btn-warning" ng-click="vm.removeSelects()">Remove</label>
				<label type="button" class="btn btn-danger" ng-click="vm.activaSeleccionar()">Seleccionar</label>
				<label type="button" class="btn btn-info" ng-click="vm.calcula()">Calcular</label>
				<label type="button" class="btn btn-default" ng-click="vm.union()">Union</label>
			</div>
			<p>sumaSeleccionados: {{vm.porcSeleccionados}}</p>
			<p>mensaje post: {{vm.messagePost}}</p>
		</div>


	</div>
</div>